:root {
    /* Primary Palette - Madagascar Flag Inspired */
    --seasalt: #f8f9fa; /* White */
    --platinum: #dee2e6; /* Light Gray */
    --slate-gray: #6c757d; /* Dark Gray */
    --outer-space: #495057; /* Darker Gray */
    --onyx: #343a40; /* Near Black */
    --eerie-black: #212529; /* Deep Black */

    /* Accent Colors (Red, Green, Earthy Tones) */
    --fire-brick: #AE1820; /* Dark Red */
    --rust: #AE3E22;
    --fire-engine-red: #C3201F;
    --chamoisee: #A16F4E; /* Brownish */
    --chocolate-cosmos: #67171F; /* Deep Red */
    
    /* Secondary Palette (Blues) */
    --alice-blue: #DCE9F7;
    --powder-blue: #B6C9DF;
    --dim-gray: #5C6069;
    --gunmetal: #1F2E3B;

    /* Font Styling */
    --poppins-regular: "Poppins", sans-serif;
    --poppins-regular-weight: 400;
    --poppins-thin: "Poppins", sans-serif;
    --poppins-thin-weight: 100;

    /* UI Color Assignments */
    --headline-color-on-white: var(--eerie-black);
    --headline-color-on-color: var(--platinum);
    --paragraph-color-on-white: var(--outer-space);
    --paragraph-color-on-color: var(--platinum);
    --paragraph-background-color: var(--gunmetal);
    
    --nav-link-color: var(--platinum);
    --nav-background-color: var(--gunmetal);
    --nav-hover-link-color: var(--fire-brick);
    --nav-hover-background-color: var(--outer-space);
}

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling */
body {
    font-family: var(--poppins-regular);
    background-color: var(--seasalt);
    color: var(--outer-space);
}

/* Typography */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

h1, h2 {
    margin: 0;
}

/* Tables */
table {
    margin: 0 auto;
    text-align: left;
    font-size: 1rem;
}

.weather table {
    padding: 25px 0;
}

td {
    padding: 5px;
}

td.label {
    text-align: right;
}

/* Layout */
.container {
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* Header */
header {
    padding: 20px;
    text-align: center;
    background-color: var(--onyx);
    color: var(--platinum);
}

/* Hero Section */
.hero-section {
    background-color: var(--gunmetal);
    padding-top: 20px;
}

.hero img {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, var(--chocolate-cosmos) 95%, transparent);
}

/* Data & Weather Sections */
.data,
.weather {
    padding-top: 25px;
}

.data {
    grid-row: 2;
}

.weather {
    grid-row: 3;
    margin-bottom: 50px;
}

/* Weather Icon */
.weather-icon {
    display: none;
}

.weather img {
    max-width: 100px;
    height: auto;
}

/* Footer */
footer {
    padding: 25px 0;
    text-align: center;
    font-size: 1rem;
    background-color: var(--onyx);
    color: var(--platinum);
}
