
@media (min-width: 769px) {
    nav ul {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        position: relative;
    }

    nav a {
        padding: 10px 20px; 
        font-size: 1rem;
        justify-content: space-evenly;
        
        
    }

    #hamburger {
        display: none; 
    }
}

@media (min-width: 769px) {
    main .figure {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }

    main .figure img {
        max-height: 300px; 
    }
}
